<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Demo ReactJs</title>
    <script crossorigin src="lib/react.development.js"></script>
    <script crossorigin src="lib/react-dom.development.js"></script>
    <script src= "lib/browser.min.js"></script>
  </head>
  <style>
    .maudo{background-color: red}
  </style>
  <body>
    <div id="root"></div>
    <script src="xuly.js" type ="text/babel"></script>
  </body>
</html>
